/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}

body{
    background: -webkit-gradient(linear, left bottom, right top, from(#36a175), to(rgb(69, 145, 168))) fixed;

}
.btn:focus {
    box-shadow: none !important;
  }
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 40px; 
    height: 40px; 
    border-radius: 20px; 
    text-align: center; 
    font-size: 1rem;
} 
.btn-circle.btn-xl { 
    width: 50px; 
    height: 50px; 
    border-radius: 30px; 
    font-size: 20px; 
    text-align: center; 
} 
.task:hover{
    box-shadow: 0 0 8px 8px #eeeeee;
    transform: scale(1.05);
}
.completed{
    text-decoration: line-through;
}
.secondary-bg{
    background-color: lightslategray !important;
}
.active-task{
    background-color: lightblue !important;
}
