<div class="container">
    <div class="navbar p-0">
        <ul class="nav">
            <li class="py-3 pr-3 rounded-top "><a class=" btn-lg btn btn-outline-light active border-top-left-radius" data-toggle="tab" href="#daily">Bugünkü</a></li>
            <li class="py-3 pr-3"><a class="btn btn-outline-light btn-lg" data-toggle="tab" href="#weekly">Haftalık</a></li>
            <li class="py-3 pr-3"><a class="btn btn-outline-light btn-lg" data-toggle="tab" href="#monthly">Aylık</a></li>
        </ul>
        <ul class="nav ml-auto">
            
            <li class=""><a class="btn btn-outline-light btn-circle btn-xl font-weight-bold" data-toggle="modal" data-target="#newTaskModal">+</a></li>
        </ul>
    </div>
    <div class="tab-content bg-light container rounded">
        <div id="daily" class="tab-pane in active">
            <div class="content pt-3 modal-header">
                <h3>Bugün Yapılacak Görevler</h3>
            </div>
            <div class="card-deck mb-3 text-center pt-3" style="height:100%; position: relative;">
                <!-- Component of a task starts here-->
                <app-task-card></app-task-card>
                <app-task-card></app-task-card>
                <app-task-card></app-task-card>
                <!-- Component of a task ENDS here-->
            </div>
        </div>
        <div id="weekly" class="tab-pane fade">
            <div class="content pt-3 modal-header">
                <h3>Bu Hafta İçinde Yapılacak Görevler</h3>
            </div>
            <div class="card-deck mb-3 text-center pt-3">
                <!-- Component of a task starts here-->
                <div class="card mb-4 box-shadow task" style="min-width: 15rem; max-width: 15rem;">
                    <div class="card-header">
                        <img src="../../../assets/img/undraw_detailed_analysis_xn7y.svg" class="card-img-top"  style="max-height: 100px;" alt="gorev gorseli"/>
                    </div>
                    <div class="card-body d-flex flex-column">  
                        <h6 class="font-weight-light text-secondary">2 days left</h6>
                        <h2 class="card-title ">Gorev Basligi</h2>
                        <p>Bu gorev icerigi ve kisa aciklamasidir.</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Incele</button>
                    </div>
                </div>    
                <!-- Component of a task ENDS here-->
                <!-- Component of a task starts here-->
                <div class="card mb-4 box-shadow task" style="min-width: 15rem; max-width: 15rem;">
                    <div class="card-header">
                        <img src="../../../assets/img/undraw_detailed_analysis_xn7y.svg" class="card-img-top"  style="max-height: 100px;" alt="gorev gorseli"/>
                    </div>
                    <div class="card-body d-flex flex-column">  
                        <h6 class="font-weight-light text-secondary">2 days left</h6>
                        <h2 class="card-title ">Gorev Basligi</h2>
                        <p>Bu gorev icerigi ve kisa aciklamasidir.</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Incele</button>
                    </div>
                </div>    
                <!-- Component of a task ENDS here-->
            </div>
        </div>
        <div id="monthly" class="tab-pane fade ">
            <div class="content pt-3 modal-header">
                <h3>Bu Ay İçinde Yapılacak Görevler</h3>
            </div>
            <div class="card-deck mb-3 text-center pt-3">
                <!-- Component of a task starts here-->
                <div class="card mb-4 box-shadow task" style="min-width: 15rem; max-width: 15rem;">
                    <div class="card-header">
                        <img src="../../../assets/img/undraw_detailed_analysis_xn7y.svg" class="card-img-top"  style="max-height: 100px;" alt="gorev gorseli"/>
                    </div>
                    <div class="card-body d-flex flex-column">  
                        <h6 class="font-weight-light text-secondary">2 days left</h6>
                        <h2 class="card-title ">Gorev Basligi</h2>
                        <p>Bu gorev icerigi ve kisa aciklamasidir.</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Incele</button>
                    </div>
                </div>    
                <!-- Component of a task ENDS here-->
                <!-- Component of a task starts here-->
                <div class="card mb-4 box-shadow task" style="min-width: 15rem; max-width: 15rem;">
                    <div class="card-header">
                        <img src="../../../assets/img/undraw_detailed_analysis_xn7y.svg" class="card-img-top"  style="max-height: 100px;" alt="gorev gorseli"/>
                    </div>
                    <div class="card-body d-flex flex-column">  
                        <h6 class="font-weight-light text-secondary">2 days left</h6>
                        <h2 class="card-title ">Gorev Basligi</h2>
                        <p>Bu gorev icerigi ve kisa aciklamasidir.</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Incele</button>
                    </div>
                </div>    
                <!-- Component of a task ENDS here-->
            </div>
        </div>
        <app-test-component></app-test-component>
    </div>
</div>

<!-- MODAL module-->
<div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Görev Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title" class="col-form-label">Görev Başlığı</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Açıklaması</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
  </div>
<!-- Modal Ends-->